@{ 
    
}
<main>
    <div class="row d-flex">
        <a class="links text-end">? Help</a>
    </div>
    <div class="row">
        <center>
            <img src="/Content/img/wiseLogo.jpg" />
        </center>
    </div>
    <div class="row">
        <center>
            <p>Please select a Plant to use as the "Ship From" location.</p>
        </center>
    </div>
    <div class="row d-flex align-content-center">
        <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "ALP"})" class="btn btn-primary btn-main">Alpharetta (ALP)</a>            
        <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "BUT"})" class="btn btn-primary btn-main">Butler (BUT)</a>            
        <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "FTW"})" class="btn btn-primary btn-main">Fort Wayne (FTW)</a>
        <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "COR"})" class="btn btn-primary btn-main">Corporate (COR)</a>
        <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "CIN"})" class="btn btn-primary btn-main">Cincinnati (CIN)</a>
        <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "EBT"})" class="btn btn-primary btn-main">East Butler (EBT)</a>
    </div>
</main>