@{

}
<div class="container shadow min-vh-100 py-2 content-panel">
    <div class="row">
        <div class="col">
            <div class="content-panel">
                <main>
                    <div class="row d-flex">
                        <a class="links text-end">? Help</a>
                    </div>
                    <div class="row">
                        <center>
                            <img src="/Content/img/wiseLogo.jpg" />
                        </center>
                    </div>
                    <div class="row">
                        <center>
                            <p>Please select a Plant to use as the "Ship From" location.</p>
                        </center>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "ALP"})" class="btn btn-primary btn-main">Alpharetta (ALP)</a>
                        </div>
                        <div class="col-3">
                            <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "BUT"})" class="btn btn-primary btn-main">Butler (BUT)</a>
                        </div>
                        <div class="col-3">
                            <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "FTW"})" class="btn btn-primary btn-main">Fort Wayne (FTW)</a>
                        </div>
                        <div class="col-3">
                            <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "POR"})" class="btn btn-primary btn-main">Portland (POR)</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "AND"})" class="btn btn-primary btn-main">Anderson (AND)</a>
                        </div>
                        <div class="col-3">
                            <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "COR"})" class="btn btn-primary btn-main">Corporate (COR)</a>
                        </div>
                        <div class="col-3">
                            <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "CIN"})" class="btn btn-primary btn-main">Cincinnati (CIN)</a>
                        </div>
                        <div class="col-3">
                            <a href="@Url.Action("RedirectToPlant", "Home", new { loc = "EBT"})" class="btn btn-primary btn-main">East Butler (EBT)</a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                            <div class="alert alert-info text-center" role="alert">
                                Send all queries or problem you may encounter to <a href="mailto:helpdesk@wbf.com">helpdesk@wbf.com</a>
                                <br />
                                For next couple of weeks as we work out any issues we will be include the change log below.
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div>
                        <h6>Change Log</h6>
                        <div class="table">
                            8/8/2024
                            <ul>
                                <li>Centered shipment form.</li>
                                <li>Default zeros now disappear when entering field.</li>
                                <li>Added <b>ShipFrom</b> information to confirmation page.</li>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>