@model  AuthenticationServer.Models.Shipment
@{
    ViewBag.Title = "ShipmentConfirmation";
    System.Data.DataTable table= ViewBag.MultiView as System.Data.DataTable;
    System.Data.DataTable MultiGroundFreight = ViewBag.MultiGroundFreight as System.Data.DataTable;
    int rowIndex = 0;


}
<div class="container shadow min-vh-10 py-2 content-panel">
    <div class="row">
        <div class="col">
            <div class="row d-flex">
                <a href="/Help#rates" class="links text-end">? Help</a>
            </div>
            <div class="row">
                <div class="col-5">
                    @if (Model != null)
                    {
                        <div class="confirmation-address">@Model.Address</div>
                        <div class="confirmation-address">@Model.City,  @Model.State_selection  @Model.Zip</div>
                        <div class="confirmation-address">@Model.Country_selection</div>

                        <br />
                        <div class="confirmation-address d-flex">Delivery: / Sig Req'd:&nbsp;<div class="confirmation-value">@Model.delivery_signature_required_selection</div></div>

                        <br />
                        <div class="confirmation-address">Address is: </div>
                        <div class="confirmation-address">Billing weight: @Model.billing_weight lbs. ( @Model.number_of_packages pkgs)</div>
                    }
                </div>
                <div class=" col-3 ms-auto ">
                    <img src="/Content/img/wiseLogo.jpg" />
                </div>
            </div>
            <div class="row d-flex">
                <div class="text-center confirmation-value">The address was automatically corrected to match what UPS had on file.  Please make note of the changes.</div>
            </div>
        </div>
    </div>
</div>
<div class="container shadow min-vh-10 py-2 content-panel">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <!-- GRID 1 - Compare Rates -->
                        @if (Model.multiple_location_rate_selection == "No")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <table class="shipGrid">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Ship From</th>
                                                    <th scope="col">Service</th>
                                                    <th scope="col">Rate</th>
                                                    <th scope="col">CWT?</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var service in Model.shopCompareRates[0].UPSServices)
                                                {
                                                    var rowClass = rowIndex % 2 == 0 ? "" : "alt";
                                                    <tr class="@rowClass">
                                                        <td>@service.ShipFrom</td>
                                                        <td>@service.ServiceName</td>
                                                        <td>@service.Rate</td>
                                                        <td>@service.CWT</td>
                                                    </tr>
                                                    rowIndex++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col"><img src="~/Content/img/LOGO_L.gif" /></div>
                                </div>
                            </div>
                        }
                        else if (Model.multiple_location_rate_selection == "Yes")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <table class="shipGrid">
                                            <thead>
                                                <tr>
                                                    @foreach (System.Data.DataColumn column in table.Columns)
                                                    {
                                                        <th>@column.ColumnName</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (System.Data.DataRow dataRow in table.Rows)
                                                {
                                                    var rowClass = rowIndex % 2 == 0 ? "" : "alt";
                                                    <tr class="@rowClass">
                                                        @foreach (var item in dataRow.ItemArray)
                                                        {
                                                            <td>@item</td>
                                                        }
                                                    </tr>
                                                    rowIndex++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col"><img src="~/Content/img/LOGO_L.gif" /></div>
                                </div>                                
                            </div>
                        }
                        <!-- GRID 2 - UPS Ground Freight -->
                        @if (Model.include_ground_rate_selection == "Yes" && Model.multiple_location_rate_selection == "Yes")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <table class="shipGrid">
                                            <thead>
                                                <tr>
                                                    @foreach (System.Data.DataColumn column in MultiGroundFreight.Columns)
                                                    {
                                                        <th>@column.ColumnName</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (System.Data.DataRow dataRow in MultiGroundFreight.Rows)
                                                {
                                                    var rowClass = rowIndex % 2 == 0 ? "" : "alt";
                                                    <tr class="@rowClass">
                                                        @foreach (var item in dataRow.ItemArray)
                                                        {
                                                            <td>@item</td>
                                                        }
                                                    </tr>
                                                    rowIndex++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col"><img src="~/Content/img/LOGO_L.gif" /></div>
                                </div>
                            </div>
                        }
                        else if (Model.include_ground_rate_selection == "Yes" && Model.multiple_location_rate_selection == "No")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <table class="shipGrid">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Ship From</th>
                                                    <th scope="col">Service</th>
                                                    <th scope="col">Rate</th>
                                                    <th scope="col">CWT?</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var service in Model.shopGroundFreightResponse.UPSServices)
                                                {
                                                    var rowClass = rowIndex % 2 == 0 ? "" : "alt";
                                                    <tr class="@rowClass">
                                                        <td>@service.ShipFrom</td>
                                                        <td>@service.ServiceName</td>
                                                        <td>@service.Rate</td>
                                                        <td>@service.CWT</td>
                                                    </tr>
                                                    rowIndex++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col"><img src="~/Content/img/LOGO_L.gif" /></div>
                                </div>

                            </div>
                        }

                        @if (Model.include_ltl_rate_selection == "Yes")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <table class="shipGrid">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Ship From</th>
                                                    <th scope="col">Service</th>
                                                    <th scope="col">Transit Days</th>
                                                    <th scope="col">Direct</th>
                                                    <th scope="col">Rate</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var service in Model.shopLessThanTruckloadResponse.UPSServices)
                                                {
                                                    var rowClass = rowIndex % 2 == 0 ? "" : "alt";
                                                    <tr class="@rowClass">
                                                        <td>@service.PlantCode</td>
                                                        <td>@service.ServiceName</td>
                                                        <td>@service.TransitDays</td>
                                                        <td>@service.Direct</td>
                                                        @if (service.Rate.Length > 0)
                                                        {
                                                            <td>@service.Rate</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@service.TotalCost</td>
                                                        }

                                                    </tr>
                                                    rowIndex++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col"><img src="~/Content/img/m33logo.jpg" /></div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="col-1"></div>
                    </div>

                    </div>

        </div>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col center-column">
        <button class="btn" onclick="goBack()">Back</button><button class="btn" onclick="goHome()">Start Over</button>
    </div>
    <div class="col-1"></div>
</div>
<div class="row align-items-center">
    <div class="col-1"></div>
    <div class="col center-column">
        UPS, the UPS brand mark, and the Color Brown are trademarks of the United Parcel Service of America, Inc. All Rights Reserved
    </div>
    <div class="col-1"></div>
</div>
<script type="text/javascript">
    function goBack() {
        window.history.back();
    }

    function goHome() {
        window.location.href = "/Home";
    }
</script>
